[phases.setup]
nixPkgs = ["jdk21"]

[phases.install]
cmds = ["./gradlew dependencies --no-daemon"]

[phases.build]
cmds = ["./gradlew clean bootJar --no-daemon -x test"]

[start]
cmd = "java -Xmx512m -Xms256m -XX:+UseContainerSupport -Dserver.port=$PORT -jar build/libs/*.jar"
